[Unit]
Description=Mirror Argos to ESDR
After=network-online.target
Wants=network-online.target

[Service]
Environment=PATH=/t/esdr-connectors/anaconda3/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/snap/bin
Type=simple
WorkingDirectory=/t/esdr-connectors/mirror-argos-to-esdr
ExecStart=/t/esdr-connectors/anaconda3/bin/python -u python-utils/notebook-service.py mirror-argos-to-esdr.ipynb
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
